body{
    text-align: center;
    background-image: linear-gradient(to right top, #ceda93, #97dba3, #53d8c3, #00cfe6, #0fc1ff);
    background-attachment: fixed;
}

/* font style for  game rules header*/

#home-screen h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

/* font style for body of the game */

.rules-area p, .game-rules li, .result-area{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}

/* game rules list */

.game-rules{
    list-style: none;
}

/* game buttons */

.game-buttons button{
    height: 65px;
    width: 65px;
    border-radius: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#rock{
    background-image: url(../images/rock\ img.png);
}

#paper{
    background-image: url(../images/paper\ img.png);
}

#scissors{
    background-image: url(../images/scissors\ img.png);
}

#lizard{
    background-image: url(../images/lizard\ img.png);
}

#spock{
    background-image: url(../images/spock\ img.png);
}

/* results area */

.result-area{
    padding-top: 2%;
}

.result-area div{
    padding: 3px;
}

