body{
    text-align: center;
    background: linear-gradient(to right top, #ceda93, #97dba3, #53d8c3, #00cfe6, #0fc1ff) no-repeat fixed;
}

/* font style for  game rules header*/

#home-screen h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

/* font style for body of the game */

.rules-area p, .game-rules li, .result-area{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}

/* game rules list */

.game-rules{
    list-style: none;
}

/* game-section */ 

#game-section{
    border-style: double;
    width: 500px;
    display: inline-block;
    padding: 15px;
}

/* game buttons */

.game-buttons{
    height: 65px;
    width: 65px;
    border-radius: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

#rock{
    background-image: url(../images/rock-icon.png);
}

#paper{
    background-image: url(../images/paper-icon.png);
}

#scissors{
    background-image: url(../images/scissors-icon.png);
}

#lizard{
    background-image: url(../images/lizard-icon.png);
}

#spock{
    background-image: url(../images/spock-icon.png);
}

/* results area */

.result-area{
    padding-top: 2%;
}

.result-area div{
    padding: 3px;
}

/* scoreboard */

.scoreboard{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    margin-top: 8px;
}

/* modal */

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  margin-top: 15%;
  margin-left: 30%;
  left: 0;
  top: 0;
  width: 40%;
  height: 40%;
  background-color: ivory;
  border-style: solid;
}

.modal-header{
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    margin-top: 13%;
}

.modal-content{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: x-large;
}

.reset{
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    color: #0fc1ff;
    border-style: solid;
    border-color: #0fc1ff;
}

.reset:hover{
    background-color:#0fc1ff;
    cursor: pointer;
    color: black;
    border-color: black;
}

/* media queriers for 800px or less */

@media screen and (max-width:800px) {
    /* hero image */

    .hero-image{
        height: inherit;
        width: -webkit-fill-available;
    }

    #game-section{
    width: -webkit-fill-available;
    padding: 10px;
    }
    
}


@media screen and (max-width:360px) {

    .modal{
        width: 60%;
        height: 40%;
        margin-top: 50%;
        margin-left: 19%;
    }
    
}
